<br>
<div class="container">
    <div class="form-row">
        <div class="col-md-4" *ngFor="let classroom of listClassrooms">
            <div class="form-group">
                <div class="card">
                    <div class="card-header">
                        <h5 style="margin-bottom: -10px;">{{ classroom.name }}</h5>
                        <a *ngIf="this.accessUser" (click)="showClassroomCode(codeModal, classroom.code)"
                            style="font-size:13px; text-decoration: underline; cursor: pointer;">
                            Exibir código da Turma</a>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="list-group">
                                    <button type="button" *ngIf="this.accessUser"
                                        (click)="showStudentsClassroom(studentsClassroom, classroom.id, classroom.name)"
                                        class=" list-group-item list-group-item-action">
                                        <i class="fas fa-users" style="margin-right: 2px;"></i>
                                        Ver alunos inscritos
                                    </button>
                                    <button (click)="openStatisticsModal(statisticsModal, classroom.id)"
                                        class="list-group-item list-group-item-action" type="button">
                                        <i class="far fa-chart-bar" style="font-size: 20px; margin-right: 2px;"></i>
                                        Ver estatísticas da turma
                                    </button>
                                    <button type="button" *ngIf="this.accessUser"
                                        class="list-group-item list-group-item-action">
                                        <i class="fas fa-file-alt" style="font-size: 19px; margin-right: 8px"></i>
                                        Ver listas aplicadas
                                    </button>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div *ngIf="this.accessUser" class="form-row">
                            <div class="col-md-6 text-left">
                                <button [routerLink]="['/search-classroom', classroom.id]"
                                    class="btn btn-sm btn-outline-primary">Aplicar lista
                                </button>&nbsp;
                            </div>
                            <div class="col-md-6 text-right">
                                <button [routerLink]="['/edit-classroom', classroom.id]"
                                    class="btn btn-sm btn-outline-dark">Editar
                                </button>&nbsp;
                            </div>
                        </div>

                        <div *ngIf="!this.accessUser" class="form-row">
                            <div class="col-md-12 text-right">
                                <button [routerLink]="['/view-classroom', classroom.id]"
                                    class="btn btn-sm btn-outline-primary" type="button">
                                    Visualizar turma
                                </button>&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="!listClassrooms || listClassrooms?.length <= 0">
        <div class="none-classroom">
            <p>Nenhum resultado encontrado!</p>
        </div>
    </ng-container>
</div>

<ng-template #codeModal>
    <div class="modal-header">
        <h5 class="modal-title">Código da Turma</h5>
        <button (click)="modalRef.hide()" aria-label="Close" class="close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <br>
        <h1 style="text-align: center;">{{ codeForShow }}</h1>
        <br>
    </div>
</ng-template>

<ng-template #studentsClassroom>
    <div class="modal-header">
        <h5 class="modal-title">Alunos inscritos em: "{{ classroomName }}" </h5>
        <button (click)="modalRef.hide()" aria-label="Close" class="close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="alert-info">#</th>
                            <th class="alert-info">Nome do aluno</th>
                            <th class="alert-info">Email do aluno</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let student of listStudents; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{ student.name }}</td>
                            <td>{{ student.email }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #statisticsModal>
    <list-aplic-modal-info [innerHTML]="innerHTMLToStatistics" [modalRef]="modalRef" title="Estatísticas da Turma">
    </list-aplic-modal-info>
</ng-template>