<br>
<div class="container">
    <div class="form-row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5>Técnicas avançadas de atuação</h5>
                    <small>Bette Davis</small>
                </div>
                <div class="card-body">
                    <p>Como ser mais expressivo no dia a dia</p>

                    <div class="form-row">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-sm btn-outline-dark" [routerLink]="['/edit-classroom', 5]">Editar</button>&nbsp;
                            <button class="btn btn-sm btn-outline-danger">Excluir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>