<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title font-weight-bold">Minha Conta</h4>
        <div class="container">
          <span [ngClass]="loggedUser?.role == 'DISCENTE'? 'badge-success' : 'badge-primary'" class="badge">
            {{loggedUser?.role}}
          </span>
          <div class="profile-content-row">
            <div>
              <p *ngIf="loggedUser?.role == 'DISCENTE'" class="font-weight-bold">Nome</p>
              <p class="font-weight-bold">E-mail</p>
            </div>
            <div>
              <p *ngIf="loggedUser?.role == 'DISCENTE'" class="text-right">{{loggedUser?.name}}</p>
              <p class="text-right">{{loggedUser?.email}}</p>
            </div>
          </div>
          <div *ngIf="loggedUser?.role == 'DISCENTE'" class="profile-content-row buttons">
            <button class="btn btn-light" routerLink="/edit-profile">Editar Dados</button>
          </div>
          <div *ngIf="loggedUser?.role == 'DOCENTE'" align="center">
            <a (click)="openStatisticsModal(statisticsModal)" class="statistics-link">Consultar Estatísticas do
              Docente</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #statisticsModal>
  <div class="modal-header">
    <h5 class="modal-title">Estatísticas do Docente</h5>
    <button (click)="modalRef.hide()" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="card-subtitle">
        <i>Top 5 questões mais aplicadas</i>
      </div>
      <div *ngIf="!statistics.errorMessage; else message" class="questions-content-row">
        <div>
          <i class="font-weight-bold">Questão</i>
          <br><br>
          <p *ngFor="let question of statistics.topFiveQuestions; let i = index">
            {{i + 1}}ª - {{question.question?.name || 'Não identificado'}}
          </p>
        </div>
        <div>
          <i class="font-weight-bold">Número de aplicações</i>
          <br><br>
          <p *ngFor="let question of statistics.topFiveQuestions">
            {{question.counter + ' vezes' || 'Não identificado'}}
          </p>
        </div>
      </div>
      <p *ngIf="statistics?.topFiveQuestions?.length <= 0 && !statistics.errorMessage"><i>O docente não possui questões
        aplicadas.</i></p>
      <ng-template #message>
        <p><i>{{statistics.errorMessage}}</i></p>
      </ng-template>
    </div>
  </div>
</ng-template>
