<div class="container d-flex justify-content-center">
  <div class="row vertical-center">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center font-weight-bold">ListAplic</h2>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="input-email" placeholder="E-mail" name="email"
                   [(ngModel)]="email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="input-password" placeholder="Senha" name="password"
                   [(ngModel)]="password">
          </div>
          <button type="submit" class="btn btn-secondary" (click)="signIn()">Entrar</button>
        </form>
        <button type="button" class="btn btn-light" (click)="signUp()">Cadastrar</button>
      </div>
    </div>
  </div>
</div>
