<br>
<div class="container">
  <div class="form-row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title font-weight-bold"><i class="fas fa-search"></i> Buscar Lista</h4>
          <p>Turma: {{ classroom.name }}</p>
        </div>
        <div class="card-body">
          <form #form="ngForm" (ngSubmit)="submitFilter(form)">
            <div class="container col-md-8">
              <div class="row">
                <div class="col-md-6 custom-control">
                  <p><b>Área de Conhecimento</b></p>
                </div>
                <div class="col-md-6 custom-control">
                  <select [(ngModel)]="knowledgeFilter" class="custom-select" name="knowledgeFilter">
                    <option [defaultSelected]="true" [value]="undefined" disabled>Selecione</option>
                    <option *ngFor="let knowledge of knowledgeAreas" [value]="knowledge.codigo">{{knowledge.codigo}}
                      - {{knowledge.descricao}}</option>
                  </select>
                </div>
                <div class="col-md-6 custom-control">
                  <p><b>Nível de Dificuldade</b></p>
                </div>
                <div class="col-md-6 custom-control">
                  <div aria-label="First group" class="btn-group mr-2" role="group">
                    <button (click)="setLevel(level)" *ngFor="let level of difficultyLevels"
                            [ngStyle]="checkIsSelected(level)"
                            class="btn btn-primary" type="button">{{ level }}
                    </button>
                  </div>
                </div>
                <div class="col-md-6 custom-control">
                  <p><b>Tags</b></p>
                </div>
                <div class="col-md-6 custom-control">
                  <div class="input-group mb-3">
                    <input (keyup.space)="addTag(currentTag)" [(ngModel)]="currentTag" class="form-control" name="tag"
                           placeholder="Entre com uma tag"
                           type="text">
                  </div>
                  <p>
                    <span *ngFor="let tag of tags" class="badge badge-info" style="margin-right: 4px">{{ tag }} <span
                      (click)="removeTag(tag)" style="cursor:pointer"> x</span></span>
                  </p>
                </div>
                <div class="col-md-6 custom-control">
                  <p><b>Tempo máximo de resposta</b></p>
                </div>
                <div class="col-md-6 custom-control">
                  <div class="input-group mb-3">
                    <input [(ngModel)]="answerTime" class="form-control" name="time" placeholder="Tempo de resposta"
                           type="number">
                    <div class="input-group-append">
                      <span class="input-group-text">minuto(s)</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 custom-control">
                  <p><b>Disciplina</b></p>
                </div>
                <div class="col-md-6 custom-control">
                  <select [(ngModel)]="subjectFilter" class="custom-select" name="subjectFilter">
                    <option [defaultSelected]="true" [value]="undefined" disabled>Selecione</option>
                    <option *ngFor="let subject of subjects" [value]="subject.codigo">{{subject.codigo}}
                      - {{subject.descricao}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="container col-md-8 text-right">
                <div class="form-group">
                  <button class="btn btn-secondary" type="submit">Buscar lista</button>
                </div>
              </div>
            </div>
          </form>

          <hr>

          <div *ngIf="showResult" class="row">
            <div class="col-md-12">
              <h5>Resultados:</h5>

              <div *ngIf="lists" class="table-responsive">
                <table class="table table-striped">
                  <thead class="thead-dark">
                  <tr>
                    <th scope="col">Lista</th>
                    <th scope="col">Áreas de Conhecimento</th>
                    <th class="text-center" scope="col">Dificuldade</th>
                    <th class="text-center" scope="col">Tempo de Resposta</th>
                    <th scope="col">Disciplinas</th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr (dblclick)="openListModal(listModal, list)" *ngFor="let list of lists" style="cursor: pointer">
                    <th>{{ list.name }}</th>
                    <td>
                      <li *ngFor="let know of list.knowledgeAreas">
                        {{ know.descricao }}
                      </li>
                    </td>
                    <td align="center">
                      <span [class.badge-danger]="list.difficultyLevel === 5"
                            [class.badge-success]="list.difficultyLevel < 3"
                            [class.badge-warning]="list.difficultyLevel > 3 " class="badge badge-pill">
              {{ translateDifficultyLevel(list.difficultyLevel) || 'Não informado' }}
            </span>
                    </td>
                    <td align="center">{{ list.answerTime + ' minuto(s)' || 'Não informado'}}</td>
                    <td>
                      <li *ngFor="let sub of list.subjects">
                        {{ sub.descricao }}
                      </li>
                    </td>
                    <td class="text-right">
                      <div class="btn-group dropright">
                        <button aria-expanded="false" aria-haspopup="true" class="btn btn-light dropdown-toggle"
                                data-toggle="dropdown" type="button">
                          <i class="fas fa-ellipsis-v" style="float: right; font-size: 20px;"></i>
                        </button>
                        <div class="dropdown-menu">
                          <button (click)="openListModal(listModal, list)" class="dropdown-item" type="button">Ver
                            Lista
                          </button>
                          <button (click)="openApplyListModal(applyListModal, list)" class="dropdown-item"
                                  type="button">Aplicar Lista
                          </button>
                        </div>
                      </div>
                    </td>
                  </tbody>
                </table>
              </div>

              <div *ngIf="!lists || lists?.length <= 0" class="row" style="margin-top: 25px;">
                <div class="col-md-12">
                  <div class="form-group">
                    <p class="text-center" style="font-style: italic;">Nenhuma lista foi
                      encontrada...</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #applyListModal>
  <form #form="ngForm">
    <div class="modal-header">
      <h5 class="modal-title">Aplicar Lista</h5>
      <button (click)="modalRef.hide()" aria-label="Close" class="close" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-row">
        <div class="col-md-5">
          <p>Para:</p>
        </div>

        <div class="col-md-7">
          <div class="form-group">
            <select [(ngModel)]="selectedGroup" class="form-control" id="exampleFormControlSelect2" name="group">
              <option [defaultSelected]="true" [value]="undefined">Selecione um Grupo</option>
              <option value="allClassroom">Toda a Turma</option>
            </select>
            <small *ngIf="!validForm && !selectedGroup" class="form-text text-muted crimson">
              Selecione pelo menos um grupo
            </small>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-5">
          <p>Iniciar em:</p>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <div class="input-group mb-3">
              <input required name="initialDateAplication" type="date" class="form-control"
                     [(ngModel)]="initialDateAplication" id="input-initialDateAplication">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon1"><i class="far fa-calendar-alt"></i></span>
              </div>
            </div>
            <small *ngIf="!validForm && !initialDateAplication" class="form-text text-muted crimson"
                   style="margin-top: -10px;">
              Selecione uma data
            </small>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="input-group mb-3">
              <input required name="initialTimeAplication" type="time" class="form-control"
                     [(ngModel)]="initialTimeAplication" id="input-initialTimeAplication">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"><i class="far fa-clock"></i></span>
              </div>
            </div>
            <small *ngIf="!validForm && !initialTimeAplication" class="form-text text-muted crimson"
                   style="margin-top: -10px;">
              Selecione um horário
            </small>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-5">
          <p>Entregar em:</p>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <div class="input-group mb-3">
              <input required name="finalDateAplication" type="date" class="form-control" id="input-finalDateAplication"
                     [(ngModel)]="finalDateAplication">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon3"><i class="far fa-calendar-alt"></i></span>
              </div>
            </div>
            <small *ngIf="!validForm && !finalDateAplication" class="form-text text-muted crimson"
                   style="margin-top: -10px;">
              Selecione uma data
            </small>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="input-group mb-3">
              <input required name="finalTimeAplication" type="time" class="form-control" id="input-finalTimeAplication"
                     [(ngModel)]="finalTimeAplication">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon4"><i class="far fa-clock"></i></span>
              </div>
            </div>

            <small *ngIf="!validForm && !finalTimeAplication" class="form-text text-muted crimson"
                   style="margin-top: -10px;">
              Selecione um horário
            </small>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="modal-footer">
    <button (click)="confirm()" class="btn btn-secondary" type="button">Confirmar</button>
  </div>
</ng-template>

<ng-template #listModal>
  <div class="modal-header">
    <h5 class="modal-title">Lista: {{ currentList.name || 'Não informado' }}</h5>
    <button (click)="modalRef.hide()" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="modal-content-row">
        <div class="container-fluid">
          <p><b>Autor:</b> {{ currentList.user || 'Não informado' }}</p>
          <p><b>Tempo Máximo:</b> {{ currentList.answerTime + ' minuto(s)' || 'Não informado'}}</p>
          <p><b>Nível de dificuldade: </b>
            <span [class.badge-danger]="currentList.difficultyLevel === 5"
                  [class.badge-success]="currentList.difficultyLevel < 3"
                  [class.badge-warning]="currentList.difficultyLevel > 3 " class="badge badge-pill">
              {{ translateDifficultyLevel(currentList.difficultyLevel) || 'Não informado' }}
            </span>
          </p>
        </div>
        <div class="container-fluid">
          <p><b>Assunto:</b></p>
          <div class="assunto-content">
            <p>Área de Conhecimento</p>
            <ul class="list-group list-group-flush">
              <li *ngFor="let area of currentList.knowledgeAreas" class="list-group-item">
                {{ area.descricao || 'Não informado' }}</li>
            </ul>
            <i *ngIf="!currentList.knowledgeAreas || currentList.knowledgeAreas.length == 0">
              Não há Áreas de Conhecimento
            </i>
            <p>Disciplinas</p>
            <ul class="list-group list-group-flush">
              <li *ngFor="let sub of currentList.subjects" class="list-group-item">
                {{ sub.descricao || 'Não informado' }}</li>
            </ul>
            <i *ngIf="!currentList.subjects || currentList.subjects.length == 0">
              Não há Disciplinas
            </i>
            <p>Tags</p>
            <span *ngFor="let tag of currentList.tags" class="badge badge-pill badge-primary">
              {{ tag || 'Não informado' }}
            </span>
            <i *ngIf="!currentList.tags || currentList.tags.length == 0">
              Não há Tags
            </i>
          </div>
        </div>
      </div>
      <div class="modal-content-row">
        <div class="container-fluid">
          <div class="card questions-card">
            <div class="card-body">
              <h5 class="card-title">Questões</h5>

              <div *ngFor="let question of currentList.questions" class="card">
                <div class="card-header list-header" id="headingOne">
                  <div>
                    <h4 class="mb-0">
                      {{ question.name || 'Não informado' }}
                    </h4>
                    <p class="text-grey anwser">Resposta Esperada: {{ question.expectedAnswers || 'Não informado' }}</p>
                  </div>
                  <div>
                    <span class="badge badge-pill badge-info">Discursiva</span>
                  </div>
                </div>
              </div>

              <i *ngIf="!currentList.questions || currentList.questions.length == 0">
                Não há Questões
              </i>
            </div>
          </div>
        </div>
      </div>
      <div></div>
    </div>
  </div>
</ng-template>
