<br>
<div class="container">
    <div class="form-row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title font-weight-bold">{{ classroom.name }}</h4>
                    <p>Rubens de Castro - <span style="font-style: italic;">{{ classroom.subjectCode }}</span></p>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>