<br>
<div class="container">
    <div class="form-row">
        <div class="offset-md-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4>{{ title }}</h4>

                    <div class="form-row">
                        <div class="offset-md-2 col-md-8">
                            <list-aplic-classroom-form [actionCreate]="actionCreate"></list-aplic-classroom-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>