<div *ngFor="let question of questions" class="card">
  <div class="card-header list-header" id="headingOne">
    <div>
      <h5>
        {{ question.name || 'Não informado' }} <span class="badge badge-pill badge-info" style="font-size: 13px">Verdadeiro ou Falso</span>
      </h5>
      <p class="text-grey anwser">Respostas: </p>
      <p *ngFor="let answer of question.expectedAnswers">
        <b>{{ answer.correta ? 'Verdadeira' : 'Falsa' }}</b> - {{ answer.descricao || 'Não informado' }}
      </p>
    </div>
  </div>
</div>

<br>
<p>
  <i *ngIf="!questions || questions.length == 0">
    Não há Questões
  </i>
</p>
